@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JihoSoftBold";
  src: url("/fonts/JihoSoftBold.otf");
}
@font-face {
  font-family: "JihoSoftMedium";
  src: url("/fonts/JihoSoftMedium.otf");
}
